@media (min-width: 621px) {
  .hidden\@tablet {
    display: none;
  }
}

@media (max-width: 620px) {
  .hidden\@mobile {
    display: none;
  }

  .order-1\@mobile {
    order: 1;
  }

  .order-2\@mobile {
    order: 2;
  }
}